<div>
    <snap-drawer>
        <div class=snap-menu>
            <div class="sidebar-header text-center">
                <img src=images/flat-avatar.png class="sidebar-img img-circle">
                </div>
                <ul class=snap-ul>
                    <li ng-class="{active: $state.includes('overview')}">
                        <a ui-sref=overview>Manage Students</a>
                    </li>
                    <li ng-class="{active: $state.includes('enroll')}">
                        <a ui-sref=enroll>Enroll Student</a>
                    </li>
                    <li>
                        <a ui-sref=login>LOGOUT</a>
                    </li>
                </ul>
            </div>
        </snap-drawer>
        <snap-dragger></snap-dragger>
        <snap-content snap-opt-tap-to-close=false>
            <a snap-toggle=left ng-click="menuOpen = !menuOpen">
                <span class=menutoggle>
                    <i ng-hide=menuOpen class="fa fa-bars fa-2x"></i>
                    <i ng-show=menuOpen class="fa fa-times fa-2x"></i>
                </span>
            </a>
            <div class=fr>
                <h2>Manage Students 
                </h2>
            </div>
            <div class=jumbotron>
                <div class=container>
                    <h1 class="hide">Students!</h1> 
                    <br>
                        <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <table ng-init="init()" class="table table-responsive table-hovered table-condensed">
                                        <tr>
                                            <th>Name</th>
                                            <th class="text-center">Email</th>
                                            <th class="text-center">School</th>
                                            <th class="text-center">Class</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                        <tr ng-repeat="user in users">
                                            <td >{{user.name}}</td>
                                            <td class="text-center">{{user.email}}</td>
                                            <td class="text-center">{{user.school}}</td>
                                            <td class="text-center">{{user.class}}</td>
                                            <td class="text-center"> <div class="btn-group">
                                                <div class="btn-group">
                                                  <a type="button" ui-sref=enroll({id:user.id}) class="btn btn-primary">Edit</a>
                                                  <a type="button" ng-if="user.status=='inactive'" class="btn btn-primary" ng-click="enable(user.id)">Activate</a>
                                                  <a type="button" ng-if="user.status=='active'" class="btn btn-primary" ng-click="disable(user.id)">Deactivate</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <p class="text-center">
                                <a ui-sref=enroll class="btn btn-primary btn-lg btn-white text-center">Add Student</a>
                            </p>
                        </div>
                    </div>
                </snap-content>
            </div>